<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="/css/forms.css">
        <link rel="stylesheet" href="/css/signup.css">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    </head>
    <body>

        <header id="header" class="global header logged-out">
            <div class="container">
                <a href="/" class="header-link">Guizlet</a>
            </div>
        </header>
        <div class="main content">
            <%= yield %>
        </div>

        <script src="js/jquery.min.js"></script>
        <script src="js/main.js"></script>
        <script src="coffee/app.coffee"></script>
    </body>
</html>